#hero-img {
    border: 2px solid;
    margin-top: 20px;
}

body {
    background-image:url('/static/img/background.jpg');
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    line-height: 27px;
}

h1, h2,h3,h4,strong {
    font-family: 'IM Fell DW Pica SC', serif;
}


p {
    margin-bottom: 20px;
}
.hero-unit h1 {
    font-size: 44px;
    font-family: "IM Fell DW Pica SC";
}

li {
    line-height: 26px;
}

.toc {
    background-color: black
}

.toc li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#main {
    padding-bottom: 60px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}


footer, #main, .hero-unit {
    background-color: #FFFEF0;
}

footer {
    border-top: 3px solid;
    padding-top: 10px;
    font-size: .85em;
}

.hero-unit {
    border: 3px solid;
    margin-bottom: 20px;
}

a, .navbar .nav li a, .navbar-inverse .brand {
    color: #CD853F;
}

th {
   font-family: 'IM Fell DW Pica SC', serif;
   }

td {
    border: 3px solid;
    padding: 10px;
    font-size: .9em;
}
  
