#hero-img {
    border: 2px solid;
    margin-top: 20px;
}

body {
    background-image:url('/static/img/background.jpg');
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    line-height: 27px;
}

p {
    margin-bottom: 20px;
    text-indent: 1.5em;
}
.hero-unit h1 {
    font-size: 44px;
}

li {
    line-height: 26px;
}


#main {
    padding-bottom: 60px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

h1, h2, h3 {
    font-family: 'Helvetica Neue','Helvetica','Arial', sans-serif;
}

footer, #main, .hero-unit {
    background-color: #FFFEF0;
}

footer {
    border-top: 3px solid;
    padding-top: 10px;
    font-size: .85em;
}

.hero-unit {
    border: 3px solid;
    margin-bottom: 20px;
}

a, .navbar .nav li a, .navbar-inverse .brand {
    color: #CD853F;
}
