#hero-img {
    border: 2px solid;
    margin-top: 20px;
}

#main {
    padding-bottom: 60px;
    background-color: #f5f5f5;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px
}

footer {
    background-color: #eee;
    border-top: 3px solid;
    padding-top: 10px;
}

.hero-unit {
    border: 3px solid;
    margin-bottom: 20px;
}


body {
    background-image:url('/static/img/background.jpg');
}

a, .nav a {
    color: #468400;
}

