{% extends "base.html" %}

{% block main %}
<div class="row">
<div class="span4">
<h2>Syllabus</h2>
<p>
<a href="/256S2012/syllabus">
<img class="home" src="http://chadblack.net/256S2012/media/images/mex1811.jpg" alt="Syllabus"></a>
</p>
<p><a class="btn info small" href="/syllabus">View details &raquo;</a></p>
</div>
<div class="span4">
<h2>Student Posts</h2>
<p>
<a href="/studentposts">
<img class="home" src="http://chadblack.net/256S2012/media/images/calendar.jpg" alt="Posts">
</a>
</p>
<p><a class="btn info small" href="/studentposts">View details &raquo;</a></p>
</div>
<div class="span4">
<h2>Assignments</h2>
<p>
<a href="/assignments">
<img class="home" src="http://chadblack.net/256S2012/media/images/ECUADOR.jpg" alt="Assignments">
</a>
</p>
<p><a class="btn info small" href="/assignments">View details &raquo;</a></p>
</div>
</div>
{% endblock %}
